{% extends "layout.html" %}
{% block content %}
<div class="ManuForShowTable clearfix">
    <ul>
        <li><a href="{{url_for('InsertLessons')}}">     Занятия   </a></li>
        <li><a href="{{url_for('InsertSubjects')}}">    Предметы  </a></li>
        <li><a href="{{url_for('InsertStudens')}}">     Студенты  </a></li>
        <li><a href="{{url_for('InsertTeachers')}}">    Преподаватели </a></li>
        <li><a href="{{url_for('InsertGroups')}}">      Группы     </a></li>
        <li><a href="{{ url_for('InsertClassrooms')}}"> Аудитории </a></li>
        <li><a href="{{ url_for('InsertDepartment')}}"> Факультеты</a></li>
    </ul>
</div>

<div class="ManuForShowTable clearfix top">
    <h1 id="title"> Выберите действие </h1>
    <div class="center">
        <ul>
            <li><a href="{{ url_for('InsertDepartment')}}">   Добавить  </a></li>
            <li><a href="{{ url_for('UpdateDepartment') }}">  Изменить  </a></li>
            <li><a href="{{url_for('DeleteDepartment')}}">   Удалить </a></li>
        </ul>
    </div>
</div>

<div class="manage-form top">
    <form name="input_data" action="/DeleteClassrooms" method="POST">
        {{ form.hidden_tag() }}
        <h1 id="title"> Удалить аудиторию или корпус </h1>
        <p>
            <ul>
                <li>
                    <h1> {{form.c.label}} </h1>
                    {{form.c}}
                    <datalist id="ic">
                        {% for a in vCorpus %}
                        <option value="{{a[0]}}"> {{a[1]}} </option>
                        {% endfor%}
                    </datalist>
                </li>
                <li>
                    <h1> {{form.a.label}} </h1>
                    {{form.a}}
                    <datalist id="ia">
                        {% for c in vClassrooms %}
                        <option value="{{c[0]}}-{{c[1]}}">{{c[2]}} - {{c[1]}}</option>
                        {% endfor%}
                    </datalist>
                </li>
            </ul>
        </p>
        {% if message%}
        <div class="message">
            {{message}}
        </div>
        {% endif %}
            <button class="btn" type="submit"> Удалить </button>
    </form>
</div>
{% endblock %}