{% extends "layout.html" %}
{% block content %}
<div class="ManuForShowTable clearfix">
    <ul>
        <li><a href="{{url_for('InsertLessons')}}"> Занятия  </a></li>
        <li><a href="{{url_for('InsertSubjects')}}">   Предметы  </a></li>
        <li><a href="{{url_for('InsertStudens')}}">    Студенты  </a></li>
        <li><a href="{{url_for('InsertTeachers')}}">   Преподаватели </a></li>
        <li><a href="{{url_for('InsertGroups')}}">     Группы     </a></li>
        <li><a href="{{ url_for('InsertClassrooms')}}"> Аудитории </a></li>
        <li><a href="{{ url_for('InsertDepartment')}}"> Факультеты</a></li>
    </ul>
</div>

<div class="ManuForShowTable clearfix top">
    <h1 id="title"> Выберите действие </h1>
    <div class="center">
        <ul>
            <li><a href="{{url_for('InsertLessons')}}">   Добавить  </a></li>
            <li><a href="{{url_for('UpdateLessons')}}">    Изменить  </a></li>
            <li><a href="{{url_for('DeleteLessons')}}">   Удалить </a></li>
        </ul>
    </div>
</div>

<div class="manage-form top">
    <form name="input_data" action="/DeleteLessons" method="POST">
        {{ form.hidden_tag() }}
        <h1 id="title"> Удалить занятие </h1>
        <p>
            <ul>
                <li>
                    <h1> {{form.idL.label}} </h1>
                    {{form.idL}}
                    <datalist id="il">
                        {% for i in vLessons %}
                        <option value="{{i[0]}}">
                            {{i[1]}} | {{i[2]}} | {{i[3]}} |
                            {{i[4]}} | {{i[5]}} | {{i[6]}} | {{i[7]}} | {{i[8]}} | {{i[9]}}
                        </option>
                        {% endfor%}
                    </datalist>
                </li>
            </ul>
        </p>
        {% if message%}
        <div class="message">
            {{message}}
        </div>
        {% endif %}
        <button class="btn" type="submit" value="1"> Удалить </button>
    </form>
</div>
{% endblock %}