{% extends "layout.html" %}
{% block content %}
<div class="ManuForShowTable clearfix">
    <ul>
        <li><a href="{{url_for('InsertLessons')}}"> Занятия  </a></li>
        <li><a href="{{url_for('InsertSubjects')}}">   Предметы  </a></li>
        <li><a href="{{url_for('InsertStudens')}}">    Студенты  </a></li>
        <li><a href="{{url_for('InsertTeachers')}}">   Преподаватели </a></li>
        <li><a href="{{url_for('InsertGroups')}}"> Группы  </a></li>
        <li><a href="{{ url_for('InsertClassrooms')}}"> Аудитории </a></li>
        <li><a href="{{ url_for('InsertDepartment')}}"> Факультеты</a></li>
    </ul>
</div>

<div class="ManuForShowTable clearfix top">
    <h1 id="title"> Выберите действие </h1>
    <div class="center">
        <ul>
            <li><a href="{{url_for('InsertTeachers')}}">   Добавить  </a></li>
            <li><a href="{{url_for('UpdateTeachers')}}">    Изменить  </a></li>
            <li><a href="{{url_for('DeleteTeachers')}}">   Удалить </a></li>
        </ul>
    </div>
</div>

<div class="manage-form top">
    <form name="input_data" action="/InsertTeachers" method="POST">
        {{ form.hidden_tag() }}
        <h1 id="title"> Добавить преподавателя</h1>
        <p>
            <ul>
                <li>
                    <h1> {{form.surname.label}} </h1>
                    {{form.surname}}
                </li>
            </ul>
        </p>
        <p>
            <ul>
                <li>
                    <h1> {{form.name.label}} </h1>
                    {{form.name}}
                </li>
            </ul>
        </p>
        <p>
            <ul>
                <li>
                    <h1> {{form.ochestvo.label}} </h1>
                    {{form.ochestvo}}
                </li>
            </ul>
        </p>
        {% if message%}
        <div class="message">
            {{message}}
        </div>
        {% endif %}
        <button class="btn" type="submit" name="btn" value="1"> Добавить </button>
    </form>
</div>
{% endblock %}